name: build

on:
  pull_request:

jobs:

  ci:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      # - name: Trigger dynamic workflow
      #   run: |
      #     curl -X POST -u ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }} \
      #       -H "Accept: application/vnd.github.v3+json" \
      #       -d '{ "ref": "source", "inputs": { "github_token": "${{ secrets.GITHUB_TOKEN }}", "workflow": "name: Dynamic Job\n  on:\n    workflow_dispatch:\n  jobs:\n    job1:\n      runs-on: ubuntu-latest\n      steps:\n        - run: echo Hello" } }' \
      #       https://api.github.com/repos/${{ github.repository }}/dispatches

      - uses: actions/checkout@v3
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod

      - uses: oras-project/setup-oras@v1
        with:
          version: 1.0.0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.79.1'
          # extended: true

      - name: print
        run: |
          cd scripts/
          echo "${{ toJSON(github.event) }}" > event.json
          cat event.json
          rm -f issueci.sh
          oras pull -uliangyuanpeng -p${{ secrets.GITHUB_TOKEN }} ghcr.io/liangyuanpeng/blog:issueci.sh
          ./issueci.sh

      - name: Build Hugo
        run: |
          echo '${{ toJSON(github) }}'
          echo "======================"
          sh build.sh
