name: pull request comment
on:
  # issue_comment:                                     
  #   types: [created]
  push:
    branches: [ disable ]

jobs:

  label_approved:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    if: github.event.comment.user.login == 'liangyuanpeng'
    steps:
      - name: approved labal
        if: contains(github.event.comment.body, '/approved')
        run: |
          echo "approved labal"