name: generic

on:
  push:
    branches:
      - "source"

concurrency:
  group: ${{ github.workflow }}-${{ github.actor }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  gen-generic:
    permissions:
      contents: write  # for Git to git push
      pull-requests: write  # for repo-sync/pull-request to create pull requests
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0

      - name: create a pr 
        run: |
          touch tmp 
          echo "this is auto generator..." > tmp 
          git config --global user.email "gcslyp@gmail.com"
          git config --global user.name "Lan Liang"
          git add tmp 
          git commit -m "auto generator"
          CTIMED=`date +"%Y%m%d"`
          git checkout -b generic_$CTIMED
          git push origin generic_$CTIMED:generic_$CTIMED
          gh pr create --title "generic_$CTIMED" --body "here is a auto generate PR for generic" -H liangyuanpeng:generic_$CTIMED -R liangyuanpeng/liangyuanpeng.github.io -B source
          git checkout source

